<div style="display: flex;align-items: center;justify-content: center;" *ngIf="student">

    <div class="student-detail">
        <button class="btn btn-outline-success" type="submit" [routerLink]="['']">back to home</button>

        <h2>Student Details</h2>
        
        <div class="info-section" >
          <h3>Personal Information</h3>
          <p><strong>First Name:</strong> {{ student.first_name }}</p>
          <p><strong>Last Name:</strong> {{ student.last_name }}</p>
          <p><strong>Date of Birth:</strong> {{ student.date_of_birth | date: 'dd-MM-yyyy' }}</p>       
          <p><strong>Email:</strong> {{ student.email }}</p>
        </div>
      
        <div class="info-section">
          <h3>Address Information</h3>
          <p><strong>Address:</strong> {{ student.street }}</p>
          <p><strong>State:</strong> {{ student.state }}</p>
          <p><strong>City:</strong> {{ student.city }}</p>
          <p><strong>Pincode:</strong> {{ student.pincode }}</p>
        </div>
      
        <div class="info-section">
          <h3>Subjects</h3>
          <ul>
            <li *ngFor="let subject of student.subjects">{{ subject }}</li>
          </ul>
        </div>
      
        <!-- <div class="info-section">
          <h3>Previous Education</h3>
          <div *ngFor="let edu of student.previousEducation">
            <p><strong>School:</strong> {{ edu.school }}</p>
            <p><strong>Year of Start:</strong> {{ edu.yearStart }}</p>
            <p><strong>Year of End:</strong> {{ edu.yearEnd }}</p>
          </div>
        </div>
      </div>
       -->
</div>